@import url(../reindeer/styles.css);


/* CustomLayout  (loginlayout) */

.v-csslayout-login {
	position: relative;
	background-color: #3c6084;
}

.login .v-csslayout-margin {
	margin: 30px;
	background-color: #fff;
	padding: 30px;
	border: 1px solid black;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.login .v-csslayout-container {
}

.loginContainer {
	float: left;
	margin: 40px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #fff;
	width: 220px;
	height: 130px;
}

.registerContainer {
	float: left;
	margin: 40px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #fff;
}

.usernameContainer {
	margin-bottom: 10px;
}

.passwordContainer {
	margin-bottom: 10px;
}

.registerButtonContainer {
	margin-bottom: 10px;
}

.photoAttribution {
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
}
